<!DOCTYPE html>
<html>
  <head>
<<<<<<< HEAD
    <title>PhanQuyen</title>
=======
    <title><%= maketle(yield(:title))%></title>
>>>>>>> eae8875cec13a5a72b9c353d367f764e900dbf3a
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<<<<<<< HEAD
    <%= yield %>
=======
  	<%= render "layouts/nav" %>
  	<div class ="container">
  		<%= yield %>
  	</div>
>>>>>>> eae8875cec13a5a72b9c353d367f764e900dbf3a
  </body>
</html>
